.childrenMinistryOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.background {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100dvh;
  }
.background .video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    animation: fade 30s infinite ;
  }
  @keyframes fade {
    0%, 20% {
        opacity: 1;
    }
    20%, 22% {
        opacity: 0; 
    }
    22%, 100% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.video:nth-of-type(1) {
    animation-delay: 0s;
}
.video:nth-of-type(2) {
    animation-delay: 15s;
}
.row1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-block: 40px;
    padding-inline: 2rem;
    background-color: #1f2837;
    color: white;
}
.row1 div{
    flex: 1;
}
.row1 img{
    flex: 1;
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    object-position: bottom center;
    border-radius: 20px;
}
.row2{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 3rem 2rem;
}
.row2 .row2Text{
    flex: 1;
    font-size: 20px;
    line-height: 1.6;
    margin-top: 1rem;
}
.row2 div{
    flex: 1;
}
.row1 .textQuote{
    font-Size:30px;
    margin-block-end:10px;
}
.row3{
    display: grid;
    height: calc(100dvh - 100px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, calc((100dvh - 110px) / 2));
    gap: .5rem;
    margin: 4rem 1rem;
}
.row3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
}
.row3 div:nth-of-type(1){
    grid-column: 1/2;
    grid-row: 1/2;
}
.row3 div:nth-of-type(2){
    grid-column: 2/4;
}
.row3 div:nth-of-type(3){
    grid-column: 4/5;
    grid-row: 1/3;
}
.row3 div:nth-of-type(4){
    grid-column: 1/3;
    grid-row: 2/3;
}
.row3 div:nth-of-type(5){
    grid-column: 3/4;
    grid-row: 2/3;
}

@media screen and (max-width: 980px){
    .row1 .textQuote{
        font-size: 24px;
    }
}
@media  screen and (max-width: 768px){
    .row1{
        flex-direction: column;
        padding-inline: 1rem;
    }
    .row1 div > *{
        margin-bottom: 20px;
    }
    .row1 .textQuote{
        font-size: 30px;
    }
    .row2{
        flex-direction: column;
        margin: 2rem 1rem;
    }
}

@media screen and (max-width: 576px){
    .row2{
        align-items: flex-start;
    }
    .row3{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 200px);
    }
    .row3 div:nth-of-type(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .row3 div:nth-of-type(2){
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .row3 div:nth-of-type(3){
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .row3 div:nth-of-type(4){
        grid-column: 1/4;
        grid-row: 3/4;
    }
    .row3 div:nth-of-type(5){
        grid-column: 3/4;
        grid-row: 1/2;
    }
}